[user]
	name = Tim Sharpe
	email = tim@sharpe.id.au

# foo
# bar
# baz

[color]
    ui = auto

[push]
    default = tracking

[rerere]
    enabled = true

[alias]
    up = pull --rebase
    st = status
[hub]
	protocol = https
