[user]
	name = Tim Sharpe
	email = tim@sharpe.id.au

# foo
# bar
# baz

[color]
    ui = auto

[push]
    default = tracking

[rerere]
    enabled = true

[alias]
    up = pull --rebase
    st = status
[hub]
	protocol = https
[core]
excludesfile = /opt/boxen/config/git/gitignore
[credential]
helper = /opt/boxen/bin/boxen-git-credential
[github]
	user = rodjek
